<%- include("partials/header.ejs") %>

<div class="container text-center">
    <h1 class="poppins-semibold">Book Notes App</h1>
    <h2 class="poppins-semibold">An application to give your most honest reviews of your latest reads</h2>
</div>
<br>
<div class="container text-center">
    <form action="/writeReview" method="get">
        <button class="btn btn-large btn-primary poppins-regular">Add Review</button>
    </form>
</div>
<br>
<div class="container text-center">
    <form method="post" action="/sort" class="row">
        <div class="col-md-10">
            <select name="sort" id="sort" class="form-control">
                <option value="1">Show from oldest read</option>
                <option value="2">Show from latest read</option>
                <option value="3" selected>No filter</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-large btn-success">Filter</button>
        </div>
    </form>
</div>
<br>

<% if(locals.readBooks != '') {%>
<% readBooks.forEach(book => { %>

    <div class="container">
        <div class="card">
            <div class="card-header poppins-regular">
                <%= book.title %>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="<%=book.cover%>" alt="<%= book.title %>" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title poppins-semibold"><%= book.title %></h2>
                        <h3 class="card-title poppins-light">by <%= book.author %></h3>
                        <br>
                        <h4 class="card-title poppins-semibold">Plot Summary</h4>
                        <p class="poppins-regular card-text"><i><%= book.plot %></i></p>
                        <br>
                        <h4 class="card-title poppins-semibold">Your personal notes</h4>
                        <p class="poppins-regular card-text"><%= book.review %></p>
                        <br>
                        <h5 class="card-title poppins-semibold">Your personal rating</h5>
                        <p class="poppins-regular card-text"><%= book.rating %>/5</p>
                        <br>
                        <form method="post">
                            <button type="submit" value="<%= book.id %>" name="deleteReview" class="btn btn-large btn-danger poppins-regular" formaction="/deleteReview">Delete Review</button>
                            <button type="submit" value="<%=book.id%>" name="editReview" class="btn btn-large btn-primary poppins-regular" formaction="/editReview">Edit Review</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Read on: <%=book.date_read%>
            </div>
        </div>
    </div>

<% }); %>
<% } else { %>
    <div class="container text-center">
        <h3 class="poppins-semiregular">There are no books reviews yet</h3>
    </div>
<% } %>

<%- include("partials/footer.ejs") %>